<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Seinfeld Calendar{% endblock %}</title>
	<link rel="icon" type="image/png" href="{{ MEDIA_URL }}img/x_1.png">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" charset="utf-8">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" charset="utf-8">
	<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" charset="utf-8"><![endif]-->
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/plugins/tabs/screen.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/plugins/forms/screen.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div class="container">
		<div id="header" class="span-24">
			<h1 id="seinfeld_calendar">Seinfeld Calendar</h1>
			<ul class="tabs">
				<li><a href="/">Home</a></li>
				{% block extra_tabs %}{% endblock %}
				{% if user %}
					<li style="float:right"><a href="{{ logout_url }}">Logout</a></li>
				{% else %}
					<li style="float:right"><a href="{{ login_url }}">Login</a></li>
				{% endif %}
			</ul>
			<div style="clear:right"></div>
		</div>
		
		<div id="body" class="span-24">
			{% block content_title %}{% endblock %}
			{% block content %}{% endblock %}
		</div>
		
		<div id="footer" class="span-24">
			<p><small>A <a href="http://mylesbraithwaite.com/">Myles Braithwaite</a> website.</small></a>
		</div>
	</div>
</body>
</html>
